<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="Author" content="阿飞飞">
    <meta name="keywords" content="阿飞 博客 个人博客 web前端">
    <meta name="description" content="你好鸭~这里是阿飞飞的个人博客！欢迎大家和我一起交流鸭~">

    <!--使用layui必须引入的-->
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
</head>
<body>


    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input id="username" type="text" name="username" required lay-verify="username" placeholder="请输入用户名" autocomplete="off" class="layui-input">
            </div>
            <div id="tip" class="layui-form-mid layui-word-aux">2-12位字符</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码框</label>
            <div class="layui-input-inline">
                <input type="password" name="password" required lay-verify="password" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">6-18位字符</div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="login">登录</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>


    <script>
        //Demo
        layui.use('form', function(){
            var form = layui.form;
            var $ = layui.$;

            //前端验证
            form.verify({
                username : function(value){
                    if(!/^[\d_a-z\u4e00-\u9fa5]{2,18}$/i.test(value)){
                        return "用户名格式不正确！";
                    }
                },
                password : function(value){
                    if( !/^[\da-z_,!@#\$%\^&*()+\[\]{}\-=\.<>?]{6,18}$/i.test(value) ){
                        return "密码格式不正确！"
                    }
                }
            });

            //监听提交
            form.on('submit(login)', function(data){
                $.ajax({
                    method : "POST",
                    url : "/login",
                    data : data.field,
                    success : function(data){
                        layer.alert(data.msg,function(){
                            //alert( 1 )
                            if ( data.code === 1 ){
                                //登录成功的话，跳转到用户中心页面
                                location.href = "/usercenter";
                            }
                            else if ( data.code === 0 ){
                                //登录失败 ，再点弹窗的确定按钮的话，把弹窗关了
                                layer.close(layer.index);
                            }
                        });
                    }
                });

                return false;
            });

        });
    </script>

</body>
</html>












