<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="Author" content="阿飞飞">
    <style>
        *{margin:0;padding:0;font-family:"Microsoft YaHei",serif;}
        ul,li,dl,dt,ol{list-style-type:none;}
        
    </style>
</head>
<body>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script>
        $.ajax({
            method : "GET",
            url : "http://localhost:5689/lol",
            success(msg){
                console.log(msg);
            }
        });
    </script>
</body>
</html>






