<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="Author" content="阿飞飞">
    <style>
        *{margin:0;padding:0;font-family:"Microsoft YaHei",serif;}
        ul,li,dl,dt,ol{list-style-type:none;}
        
    </style>
</head>
<body>

    <form action="http://localhost:5689/goudan" method="GET">
        用户名：<input type="text" name="user"><br>
        密码：<input type="text" name="pwd"><br>
        <input type="submit">
    </form>

</body>
</html>






